@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  margin: 0;
}

.img-flex{
  display: block;
  width: 100%;
}

.argyle{
  display: none;
}

.argyle:target{
  display: block;
}

i{
  display: block;
  width: 30px;
  height: 30px;
  border: 6px solid #d0d0d0;
  border-radius: 100px;
}

.toggle{
  display: inline-block;
}

.toggle:hover{
  background-color: #d0d0d0;
}

.toggles{
  width: 200px;
  margin: 2rem auto;
}